.toggle-container {
  width: 60px;
  height: 30px;
  background-color: #ffd700;
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  transition: background-color 0.3s ease;
}

.toggle-ball {
  width: 26px;
  height: 26px;
  background-color: white;
  color: #ffd700;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  font-size: 16px;
}

.toggle-ball.dark {
  transform: translateX(30px);
  background-color: #221a19;
  color: #fff;
}

.toggle-container.dark {
  background-color: #2c3e50;
}
