<div class="login-container">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="no-outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="no-outline">
      <mat-label>Senha</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <a routerLink="/auth/forgot-password">Esqueceu a senha?</a>

    <div class="row my-3">
      <div class="col-12">
        <button
          type="button"
          class="btn btn-lg btn-primary w-100"
          [disabled]="form.invalid"
        >
          Entrar
        </button>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-center">
    <a routerLink="/auth/register">Não tem uma conta? Cadastre-se</a>
  </div>
</div>
