.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content {
  margin-top: 3rem;
  padding: 0.5rem 1rem;
  min-height: calc(100vh - 3.5rem);
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: var(--background-color);
  z-index: 1000;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: var(--background-color);
}

.sidenav-container {
  height: 100vh;
  width: 100vw;
}

.mat-drawer {
  background-color: var(--background-color);
  color: var(--text-color) !important;
  width: 100vw;
  border-radius: 0;
}

.sidenav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.sidenav-title {
  font-weight: bold;
  font-size: 16px;
}

::ng-deep .mdc-list-item__primary-text {
  color: var(--text-color) !important;
}

::ng-deep .mdc-list-item__primary-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
