<div class="footer">
  <div class="footer-item" routerLink="/home">
    <mat-icon>home</mat-icon>
    <p class="m-0">Home</p>
  </div>
  <div class="footer-item" routerLink="/members">
    <mat-icon>group</mat-icon>
    <p class="m-0">Membros</p>
  </div>
  <div class="footer-item" routerLink="/ministries">
    <mat-icon>groups</mat-icon>
    <p class="m-0">Ministérios</p>
  </div>
  <div class="footer-item" routerLink="/directorship">
    <mat-icon> supervisor_account</mat-icon>
    <p class="m-0">Diretoria</p>
  </div>
  <div class="footer-item active" routerLink="/settings">
    <mat-icon>settings</mat-icon>
    <p class="m-0">Configurações</p>
  </div>
</div>
