<div class="forgot-container">
  <form [formGroup]="form">
    <mat-form-field appearance="outline" class="no-outline">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
    </mat-form-field>

    <div class="row my-3">
      <div class="col-12">
        <button type="button" class="btn btn-lg btn-secondary w-100">
          Enviar link de redefinição
        </button>
      </div>
    </div>
  </form>

  <div class="d-flex justify-content-center">
    <a routerLink="/auth/">Voltar para o login</a>
  </div>
</div>
